@import "node_modules/bootstrap/scss/bootstrap";

html {
  height: 100%
}

body {
  min-height: 100%; // To set footer pos at least at bottom
  position: relative;
  padding-top: 5rem; // Nav's height
  padding-bottom: 60px; // Footer's height
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

// To makes the dishwasher image centerd vertically (IE10+)
.product-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// The ribbon to indicates product is in wishlist
.ribbon {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 100px;
  height: 100px;
  text-align: right;

  span {
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 24px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 120px;
    display: block;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 22px;
    left: -26px;

    &::before, &::after {
      content: "";
      position: absolute;
      top: 100%;
      z-index: -1;
      border: 3px solid #1e5799;
      border-bottom-color: transparent;
    }

    &::before {
      left: 0;
      border-right-color: transparent;
    }

    &::after {
      right: 0;
      border-left-color: transparent;
    }
  }
}